$shadow-color: #6e6e6e;
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    
    background-image: url(../img/fondo_principal.jpg);
    
}

.container {
  padding-right: 0;
  padding-left: 0;
}





.contenedor-perfil  {
    margin-top: 3rem;
    min-height: 100vh;
    box-shadow: 0 0 10px rgb(65, 64, 64);
    // background-color: gray;
  
    .fondo {
      background-image: url(../img/fondo.png);
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 300px;
      padding: 0;
       .perfil{
        img{
            width: 15rem;
            height: auto;
            
        }
       }
    }
  
  }

.contenedor-proyectos{
  min-height: 100vh;
  margin-top: 3rem;

  .card {
    box-shadow: 0 0 10px $shadow-color;
  }
}





  


  
  

footer {
    background-color: black;
    margin-top: 3rem;
    margin-bottom: 0;
    padding-top: 0.7rem;
    padding-bottom: 0.1rem;

    .seccion-contacto{
    ul {
        list-style: none; 
        padding: 1rem; 
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        li {
            a {
                text-decoration: none;
                transition: all 0.3s ease; 
        
                i {
                  margin-right: 0.5rem; 
                  transition: all 0.3s ease; 
                }
             }
            }
              a:hover {
            color: #00FF7F ;
        }
        a:hover i{
            color: #00FF7F ;
        }
        }
    }
}